@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(./japan.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-top: -8rem;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
  position: relative;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.container {
  text-align: center;
}

.container span {
  font-size: 1rem;
}

.count-container {
  display: flex;
}

/* DANGER ZONE!!! */
h1::before {
  transform: scaleY(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleY(0.1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 64, 0.5);
  z-index: -1;
  transition: transform 0.3s ease;
}
